.img-common-icon {
    background-repeat: no-repeat;
    width: 24px; /*or your image's width*/
    height: 24px; /*or your image's height*/
    margin: 0;
    padding: 0;
}
.img-folder {
    background-image: url("/img/folder.png");
}
.img-link {
    background-image: url("/img/link.png");
}
.img-file {
    background-image: url("/img/file.png");
}
.hide {
    display: none;
}
